streamlit
langchain
langchain-community
langchain-core

faiss-cpu==1.13.2
sentence-transformers

pypdf

groq
langchain-groq

pandas
numpy

SpeechRecognition
pydub

transformers
torch
Pillow
